* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  max-width: 144rem;
  font-family: "Roboto", sans-serif;
}

@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.04);
    box-shadow: 0 4px 3rem rgba(0, 0, 0, 0.1);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
header {
  height: 7.2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo-cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.header-logo-img {
  width: 5.2rem;
  transition: all 0.4s;
}

.header-logo-img:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
}

.search-cont {
  width: 36%;
  display: flex;
  justify-content: center;
}

.search-cont--modifier {
  width: 84%;
  transition: all 0.3s;
  position: relative;
}

.search-cont:hover .search-cont--modifier {
  width: 100%;
}

.search-box {
  display: block;
  width: 100%;
  border: none;
  padding: 0.8rem 1.6rem;
  padding-left: 3.6rem;
  border-radius: 100px;
  background-color: #f1f2f3;
  transition: all 0.2s;
  position: relative;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.search-box:focus {
  outline: none;
  width: 100%;
  background-color: #e9ecef;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translatey(-50%);
  z-index: 1;
  color: #343a40;
  --ionicon-stroke-width: 4.2rem;
  font-size: 1.6rem;
}
.notf-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.notf-icon {
  font-size: 2.8rem;
  color: #89949e;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.notf-icon::before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 0.6rem;
  background-color: #e9ecef;
  transform: scaleY(0);
  left: 0;
  transition: transform 0.1s, width cubic-bezier(1, 0, 0, 1) 0.2s 0.1s;
}
.notf-icon:hover::before {
  transform: scale(1);
  width: 100%;
}

.bookmark-icon,
.folder-icon,
.user-prof-name,
.user-prof-pic {
  z-index: 1;
}

.user-prof {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.user-prof-pic {
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
}
.user-prof-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #495057;
}

.notf-icon:not(:last-child):after {
  position: absolute;
  display: block;
  background-color: #cc5de8;
  height: 1.8rem;
  width: 1.8rem;
  content: "";
  z-index: 2;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notf-icon:first-child::after {
  content: "4";
  left: 50%;
  top: 20%;
}
.notf-icon:nth-child(2)::after {
  content: "8";
  left: 54%;
  top: 24%;
}
main {
  display: flex;
  justify-content: space-between;
}
.left-container {
  width: 18.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #343a40;
  /* height: 80rem; */
}
.navigation-pane {
  margin-top: 4.4rem;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navigation-list li {
  list-style: none;
  font-size: 1.6rem;
  padding: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-list-item {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  position: relative;
}

.nav-list-item a:link,
.nav-list-item a:visited {
  text-decoration: none;
  z-index: 1;
  color: #fff;
}

.nav-list-item ion-icon {
  font-size: 2rem;
  margin-left: 1.6rem;
}

.copy-para {
  text-align: center;
  margin-left: -2rem;
  font-size: 1.4rem;
  color: #e9ecef;
  margin-bottom: 4rem;
}

.nav-list-item:not(:first-child)::before {
  content: "";
  height: 100%;
  width: 0.6rem;
  position: absolute;
  left: 0;
  background-color: #cc5de8;
  transform: scaleY(0);
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.3s 0.2s;
}

.nav-list-item:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.nav-link-active {
  background-color: #cc5de8;
}

.right-container {
  width: 81.4%;
  /* height: 80rem; */
}

.gallery-cont {
  display: flex;
}

.hotel-img {
  width: 100%;
}

.hotel-heading-cont {
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
}
.hotel-info-cont {
  height: 100%;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  padding-left: 3rem;
}
.hotel-name {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #495057;
}
.rating-icon {
  font-size: 1.68rem;
  color: #be4bdb;
}

.hotel-location-cont {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  height: 100%;
}

.location-icon {
  font-size: 1.68rem;
  color: #be4bdb;
}

.hotel-location-cont a:link,
.hotel-location-cont a:visited {
  margin-left: -2rem;
  text-decoration: none;
  border-bottom: 1px solid #be4bdb;
  font-size: 1.4rem;
  font-weight: 400;
  color: #be4bdb;
}

.hotel-location-cont a:hover,
.hotel-location-cont a:active {
  color: #343a40;
  border-bottom: 1px solid #343a40;
  animation: beat 0.84s infinite;
}

.votes-cont {
  padding: 1.6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.32rem;
  align-items: center;
  background-color: #be4bdb;
}
.vote-rating,
.vote-count {
  color: #fff;
}

.vote-count {
  font-size: 0.92rem;
  font-weight: 500;
  text-transform: uppercase;
}

.vote-rating {
  font-size: 2.6rem;
  font-weight: 300;
}
